<div id="login" class="container" width="100%">
  <div class="row bg-light border-bottom">
    <div class="col-2 offset-8">      
      <%= link_to "Sign In", '/auth/github', method: "post", class: 'btn btn-primary' %>
    </div>
    <div class="col-2">
      <a class="btn btn-danger  text-center" href="/session/destroy">Sign Out</a>
    </div>
  </div>
</div>